.icon-page_white_picture {
    background-image: url(../icons/page_white_picture.png) !important;
}
.icon-lightning {
    background-image: url(../icons/lightning.png) !important;
}
.icon-tick {
    background-image: url(../icons/tick.png) !important;
}
.icon-page_white_word {
    background-image: url(../icons/page_white_word.png) !important;
}
.icon-page_white_compressed {
    background-image: url(../icons/page_white_compressed.png) !important;
}
.icon-cross {
    background-image: url(../icons/cross.png) !important;
}
.icon-page_white_code {
    background-image: url(../icons/page_white_code.png) !important;
}
.icon-hourglass_go {
    background-image: url(../icons/hourglass_go.png) !important;
}
.icon-page_white_office {
    background-image: url(../icons/page_white_office.png) !important;
}
.icon-delete {
    background-image: url(../icons/delete.png) !important;
}
.icon-magnifier_zoom_in {
    background-image: url(../icons/magnifier_zoom_in.png) !important;
}
.icon-page_white_acrobat {
    background-image: url(../icons/page_white_acrobat.png) !important;
}
.icon-pencil {
    background-image: url(../icons/pencil.png) !important;
}
.icon-user_suit {
    background-image: url(../icons/user_suit.png) !important;
}
.icon-error {
    background-image: url(../icons/error.png) !important;
}
.icon-door_out {
    background-image: url(../icons/door_out.png) !important;
}
.icon-page_white_text {
    background-image: url(../icons/page_white_text.png) !important;
}
.icon-vcard {
    background-image: url(../icons/vcard.png) !important;
}
.icon-page_white {
    background-image: url(../icons/page_white.png) !important;
}
