/**************************************************************************
 * LOADING PAGE
 **************************************************************************/

#loading #logo-application {
	background: url(../images/logo-yamma.png) no-repeat;
	background-position: center center;
	height: 128px;
	display:  block;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

#loading #loading-indicator {
	background: url(../images/loading-indicator-40.gif) no-repeat;
	float : right;
	height: 40px;
	width : 40px;
	margin-top: 5px;
}

#loading .loading-text {
	padding-left : 200px;
	display : none;
}

#loading #logo-bluexml {
	float : left;
}


/**************************************************************************
 * MAILS VIEW
 **************************************************************************/

.x-grid-cell div .document-assigned div {
	background-repeat: no-repeat; 
	background-position: left center;
	padding-left: 18px;
	padding-top: 5px;
}

.x-grid-cell div .assigned-service {
	background-image: url(../icons/group.png) !important;
}

.x-grid-cell div .assigned-authority {
	font-style : italic;
	background-image: url(../icons/user.png) !important;
}

.x-grid-cell div .object {
	padding-top: 5px;
	font-weight:bold;
}

.x-grid-cell .document-subject .name {
	font-style : italic;
	color: #a6a6a6;
	background-repeat: no-repeat; 
	background-position: left center;
	padding-left: 18px;
	padding-top: 5px;
}

.x-grid-cell .x-grid-checkheader {
	line-height: 16px; 
	background-image: url(../icons/checkbox_unchecked.png);
}

.x-grid-cell .x-grid-checkheader {
	line-height: 16px; 
	background-image: url(../icons/checkbox_unchecked.png);
}

/*
.x-grid-cell .x-grid-dirty-cell {
	background-image : none;
}
*/

.x-grid-cell .x-grid-checkheader-checked {
	background-image: url(../icons/checkbox.png) !important;
}

.row-mail-late .x-grid-cell {
	background-color: #ffe2e2;
}

.row-mail-vip .x-grid-cell {
	background-color: #fcff7a;
}

.row-mail-important .x-grid-cell {
	background-color: #ffe2e2;
}

.x-grid-cell div .document-dates div{
	padding-left: 18px;
	background-repeat: no-repeat; 
	background-position: left center;
	padding-top: 5px;
}

.x-grid-cell div .late {
	font-weight: bold;
	color: #900;
	background-image: url(../icons/clock_red.png) !important;
}

.x-grid-cell div .hurry {
	font-style : italic;
	background-image: url(../icons/clock_error.png) !important;
}

.x-grid-cell div .onTime {
	background-image: url(../icons/clock.png) !important;
}

.x-grid-cell div .deliveryDate {
	background-image: url(../icons/date_in.png) !important;
}

.x-grid-cell div .writingDate {
	background-image: url(../icons/date_edit.png) !important;
}

/* DROP ZONE 
.drop-zone {
	border: 2px dashed #BBB;
	border-radius: 6px;
	text-align: center;
	font: 18pt bold;
	font-family: Tahoma, Geneva, sans-serif;
	color: #BBB;
	margin: 1px;
}

.drop-zone-active {
	background-repeat: no-repeat; 
	background-image: url(../icons/email_upload.png) !important;
	background-position: center center;
}

.drop-zone-inactive {
	background-repeat: no-repeat; 
	background-image: url(../icons/email_upload_nb.png) !important;
	background-position: center center;
}
*/



/**************************************************************************
 * COMMENTS VIEW
 **************************************************************************/

.comments .author {
	padding-bottom : 5px;
	color : #15498B;
}

.comments .published {
	font-style : italic; 
	display : block; 
	float : right; 
	padding-top : 5px;
}


/**************************************************************************
 * HISTORY VIEW
 **************************************************************************/

.history .history-actor div{
	padding-left: 18px;
	background-repeat: no-repeat; 
	background-position: left center;
	padding-top: 5px;
}

.history .history-actor .referrer {
	background-image: url(../icons/user_suit.png) !important;
}

.history .history-actor .delegate {
	background-image: url(../icons/user_go.png) !important;
}

.history .header {
	font-style : italic; 
	padding-bottom : 5px;
}

.history .author {
	padding-top : 5px;
	color : #15498B;
	display : block; 
	float : right;

	padding-left: 18px;
	background-repeat: no-repeat; 
	background-position: left center;
	background-image: url(../icons/user_suit.png) !important;
}


/**************************************************************************
 * DISABLED NODES
 **************************************************************************/
.dvp-tree-node-disabled .x-grid-cell {
    -moz-opacity: 0.5;
   opacity:.5;
   filter: alpha(opacity=50);
}
