.column-header-img {
	display : block;
	background : no-repeat;
	width : 16px; /* default icon-width should be 16px */
	margin-top : 2px;
	margin-left : auto;
	margin-right : auto;
}

.submenu-title {
	font-style : italic; 
	display : block; 
	float : right; 
	padding-right : 2px;
}

.mainmenu-title {
	font-weight : bold;
	display : block; 
	float : right; 
	color : #15498B;
}

.x-body {
	text-align : left; /* this property may be overridden by yui */
}

.row-mail-late .x-grid-cell {
	background-color: #ffe2e2;
}

.late-cell {
	text-align : center;
	color: #900;
	background-repeat: no-repeat; 
	background-image: url(../icons/exclamation.png) !important;
	background-position: right center; 
}

.assigned-service-cell {
	background-repeat: no-repeat; 
	background-image: url(../icons/group.png) !important;
	background-position: left center;
	padding-left : 16px;
}

.assigned-user-cell {
	font-style : italic;
	background-repeat: no-repeat; 
	background-image: url(../icons/user.png) !important;
	background-position: left center; 
	padding-left : 16px;
}

#loading-mask {
	position: absolute;
	left:     0;
	top:      0;
	width:    100%;
	height:   100%;
	z-index:  20000;
	background-color: white;
}

#loading {
	position: absolute;
	left:     0px;
	top:      20%;
	padding:  2px;
	z-index:  20001;
	width:    100%;
}

#loading div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 450px;
}

#loading .loading-indicator {
	background: url(../images/loading.gif) no-repeat;
	color:      #555;
	font:       bold 13px tahoma,arial,helvetica;
	padding:    15px 75px;
	text-align: center;
	height:     120px;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

#loading #logo-dinamex {
	background: url(../images/britair-dinamex-logo-small.png) no-repeat;
	background-position: left center;
	height:      100px;
}

#loading #logo-britair {
	background: url(../images/britair-logo-small.png) no-repeat;
	background-position: right center;
	height:      70px;
}

