.icon-hourglass {
    background-image: url(../icons/hourglass.png) !important;
}
.icon-report {
    background-image: url(../icons/report.png) !important;
}
.icon-page_edit_tick {
    background-image: url(../icons/page_edit_tick.png) !important;
}
.icon-lorry {
    background-image: url(../icons/lorry.png) !important;
}
.icon-page_white_picture {
    background-image: url(../icons/page_white_picture.png) !important;
}
.icon-user_comment {
    background-image: url(../icons/user_comment.png) !important;
}
.icon-pencil_cross {
    background-image: url(../icons/pencil_cross.png) !important;
}
.icon-user_green {
    background-image: url(../icons/user_green.png) !important;
}
.icon-lightning {
    background-image: url(../icons/lightning.png) !important;
}
.icon-user_edit_grayed {
    background-image: url(../icons/user_edit_grayed.png) !important;
}
.icon-user_edit {
    background-image: url(../icons/user_edit.png) !important;
}
.icon-cog_rosette {
    background-image: url(../icons/cog_rosette.png) !important;
}
.icon-pencil_wrench {
    background-image: url(../icons/pencil_wrench.png) !important;
}
.icon-tick {
    background-image: url(../icons/tick.png) !important;
}
.icon-group {
    background-image: url(../icons/group.png) !important;
}
.icon-add {
    background-image: url(../icons/add.png) !important;
}
.icon-page_white_word {
    background-image: url(../icons/page_white_word.png) !important;
}
.icon-page_white_compressed {
    background-image: url(../icons/page_white_compressed.png) !important;
}
.icon-cog_tick {
    background-image: url(../icons/cog_tick.png) !important;
}
.icon-user_add {
    background-image: url(../icons/user_add.png) !important;
}
.icon-comment_edit {
    background-image: url(../icons/comment_edit.png) !important;
}
.icon-cross {
    background-image: url(../icons/cross.png) !important;
}
.icon-folder_magnify {
    background-image: url(../icons/folder_magnify.png) !important;
}
.icon-pencil_comment {
    background-image: url(../icons/pencil_comment.png) !important;
}
.icon-user_go {
    background-image: url(../icons/user_go.png) !important;
}
.icon-cog_award_star_gold {
    background-image: url(../icons/cog_award_star_gold.png) !important;
}
.icon-folder_table_house {
    background-image: url(../icons/folder_table_house.png) !important;
}
.icon-lorry_go {
    background-image: url(../icons/lorry_go.png) !important;
}
.icon-cog_feed {
    background-image: url(../icons/cog_feed.png) !important;
}
.icon-hourglass_go {
    background-image: url(../icons/hourglass_go.png) !important;
}
.icon-package {
    background-image: url(../icons/package.png) !important;
}
.icon-user_comment_tick {
    background-image: url(../icons/user_comment_tick.png) !important;
}
.icon-page_white_office {
    background-image: url(../icons/page_white_office.png) !important;
}
.icon-cog_edit {
    background-image: url(../icons/cog_edit.png) !important;
}
.icon-pencil_go {
    background-image: url(../icons/pencil_go.png) !important;
}
.icon-book {
    background-image: url(../icons/book.png) !important;
}
.icon-user_red {
    background-image: url(../icons/user_red.png) !important;
}
.icon-user {
    background-image: url(../icons/user.png) !important;
}
.icon-cog_go {
    background-image: url(../icons/cog_go.png) !important;
}
.icon-delete {
    background-image: url(../icons/delete.png) !important;
}
.icon-magnifier_zoom_in {
    background-image: url(../icons/magnifier_zoom_in.png) !important;
}
.icon-zoom_lock {
    background-image: url(../icons/zoom_lock.png) !important;
}
.icon-page_white_medal {
    background-image: url(../icons/page_white_medal.png) !important;
}
.icon-page_white_edit {
    background-image: url(../icons/page_white_edit.png) !important;
}
.icon-folder_table {
    background-image: url(../icons/folder_table.png) !important;
}
.icon-cog {
    background-image: url(../icons/cog.png) !important;
}
.icon-text_list_bullets {
    background-image: url(../icons/text_list_bullets.png) !important;
}
.icon-folder_page_white {
    background-image: url(../icons/folder_page_white.png) !important;
}
.icon-page_white_acrobat {
    background-image: url(../icons/page_white_acrobat.png) !important;
}
.icon-cog_user {
    background-image: url(../icons/cog_user.png) !important;
}
.icon-tag_orange {
    background-image: url(../icons/tag_orange.png) !important;
}
.icon-page {
    background-image: url(../icons/page.png) !important;
}
.icon-folder_star {
    background-image: url(../icons/folder_star.png) !important;
}
.icon-table {
    background-image: url(../icons/table.png) !important;
}
.icon-page_edit {
    background-image: url(../icons/page_edit.png) !important;
}
.icon-page_white_user {
    background-image: url(../icons/page_white_user.png) !important;
}
.icon-folder {
    background-image: url(../icons/folder.png) !important;
}
.icon-pencil {
    background-image: url(../icons/pencil.png) !important;
}
.icon-folder_go {
    background-image: url(../icons/folder_go.png) !important;
}
.icon-user_suit {
    background-image: url(../icons/user_suit.png) !important;
}
.icon-error {
    background-image: url(../icons/error.png) !important;
}
.icon-information {
    background-image: url(../icons/information.png) !important;
}
.icon-page_white_star {
    background-image: url(../icons/page_white_star.png) !important;
}
.icon-transmit_go {
    background-image: url(../icons/transmit_go.png) !important;
}
.icon-attach {
    background-image: url(../icons/attach.png) !important;
}
.icon-arrow_rotate_clockwise {
    background-image: url(../icons/arrow_rotate_clockwise.png) !important;
}
.icon-flag_blue {
    background-image: url(../icons/flag_blue.png) !important;
}
.icon-zoom {
    background-image: url(../icons/zoom.png) !important;
}
.icon-door_out {
    background-image: url(../icons/door_out.png) !important;
}
.icon-house {
    background-image: url(../icons/house.png) !important;
}
.icon-chart_curve {
    background-image: url(../icons/chart_curve.png) !important;
}
.icon-date_cog {
    background-image: url(../icons/date_cog.png) !important;
}
.icon-email_go {
    background-image: url(../icons/email_go.png) !important;
}
.icon-note {
    background-image: url(../icons/note.png) !important;
}
.icon-page_white_text {
    background-image: url(../icons/page_white_text.png) !important;
}
.icon-user_comment_lock {
    background-image: url(../icons/user_comment_lock.png) !important;
}
.icon-vcard {
    background-image: url(../icons/vcard.png) !important;
}
.icon-page_white {
    background-image: url(../icons/page_white.png) !important;
}
.icon-exclamation {
    background-image: url(../icons/exclamation.png) !important;
}
