/**************************************************************************
 * LOADING PAGE
 **************************************************************************/

#loading-mask {
	position: absolute;
	left:     0;
	top:      0;
	width:    100%;
	height:   100%;
	z-index:  20000;
	background-color: white;
}

#loading {
	position: absolute;
	left:     50%;
	top:      20%;
	padding:  2px;
	z-index:  20001;
	width:    450px;
	margin-left: -225px;
}

#loading div {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#loading .loading-indicator {
	background: url(../images/loading.gif) no-repeat;
	color:      #555;
	font:       bold 13px tahoma,arial,helvetica;
	padding:    15px 75px;
	text-align: center;
	height:     128px;
	border-top: 2px solid gray;
	border-bottom: 2px solid gray;
}

#loading #logo-bluexml {
	background: url(../images/bluexml-simple.png) no-repeat;
	background-position: left center;
	height: 50px;
	width: 150px;
}

/**************************************************************************
 * GENERAL EXTJS CUSTOMIZATIONS
 **************************************************************************/
.x-body {
	text-align : left; /* this property may be overridden by yui */
}

/**************************************************************************
 * GENERAL EXTJS GRID CUSTOMIZATIONS
 **************************************************************************/

.column-header-img {
	display : block;
	background : no-repeat;
	width : 16px; 
	height : 16px;
	margin-top : 2px;
	margin-left : auto;
	margin-right : auto;
}

.x-action-col-icon {
	padding-left : 2px;
	padding-right : 2px;
	padding-top: 0;
	padding-bottom: 0;
}

.cell-align-middle {
	vertical-align: middle;
}


/**************************************************************************
 * Ext.ux.tab.Toolbar styles
 **************************************************************************/

.x-tab-toolbar-right { z-index: 6; float: right; }
.x-tab-toolbar-right .x-tab-toolbar { padding: 0 2px; border-width: 0 0 0 1px; }
.x-tab-toolbar-left { z-index: 6; float: left; }
.x-tab-toolbar-left .x-tab-toolbar { padding: 0 2px; border-width: 0 1px 0 0; }


